@font-face {
    font-family: "PT Sans" ;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans" ;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
   font-family: "PT Sans", sans-serif;
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   background-color: #FFFFFF;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation-link {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.main-index {
    color: #333333;
    background-color: #FFFFFF;
}

.newsletter {
    background-image: url("images/index/newsletter_background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
  }

.town-description h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

.town-description p {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333; 
}

.advantages {
    text-align: center;
    color: #333333;
    background: rgba(131, 179, 211, 0.12);
}

.advantages-list-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-list-item p {
    font-size: 18px;
    line-height: 21px;    
}

.white {
    color: #FFFFFF;
    background: #83B3D3;
}

.eda {
    background: #FFFFFF
}

.doroga {
    background: rgba(131, 179, 211, 0.2);
}

.hotel-search {
    text-align: center;
    font-weight: bold;
    line-height: 36px;
}

.hotel-search h2 {
    font-size: 30px;
    color: #000000;  
    text-transform: uppercase;  
}

.hotel-search p {
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
}

.hotel-search button {
    font-size: 20px;
    color: #FFFFFF;
    background-color:#756257;
    border-radius: 10px;
    text-transform: uppercase;
}

.newsletter {
    color: #FFFFFF;
    text-align: center;
}

.newsletter h2 {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter p {
    font-size: 22px;
    line-height: 26px;
}

.telephone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.hero-inner {
    background-image: url("images/catalog/catalog_background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #000000;
    color: #FFFFFF;  
  }

.hero-inner h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
  }

.catalog-filter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.catalog-filter-list {
    font-size: 18px;
    line-height: 23px;
}

.products-select-control h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.products-select-control span {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.product-item {
    font-size: 18px;
    line-height: 23px;
    color: #333333; 
}

.product-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.pagination-show-more {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background: #83B3D3;
    border-radius: 4px
}

.select-control {
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}